.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../public/fonts/MYRIADPRO-BOLDCOND.OTF') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Plaza Personal Use';
  src: url('../public/fonts/PlazapersonaluseBold-d91XR.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Golden Beach Personal Use';
  src: url('../public/fonts/GoldenbeachpersonaluseBdit-jEgDM.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'idolwild';
  src: url('../public/fonts/idolwild.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@keyframes vibrateText {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  75% { transform: translateX(5px); }
}

.scrolling-text {
  animation: vibrateText 0.5s linear infinite;
  display: inline-block;
}